@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="d-flex h-100 justify-content-center align-items-center">
    <div class="login-container">
        <img class="profile-avatar" src="@Url.Content("~/images/avatar_2x.png")" />
        <form method="post" asp-area="Identity" asp-page="/Account/Login" asp-antiforgery="true">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Username"></label>
                <input asp-for="Input.Username" class="form-control" placeholder="Username" />
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-check">
                <input type="checkbox" asp-for="Input.RememberMe" class="form-check-input" />
                <label asp-for="Input.RememberMe"></label>
            </div>
            <input type="submit" value="Sign in" class="btn btn-sign-in" />
        </form>

        <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-link px-0">Don't have an Account?</a>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
