@page
@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<div class="d-flex h-100 justify-content-center align-items-center">
    <div class="register-container">
        <form method="post" asp-controller="Account" asp-action="Register" asp-area="Identity" asp-antiforgery="true">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" placeholder="Username" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisplayName"></label>
                <input asp-for="DisplayName" class="form-control" placeholder="Display Name" />
                <span asp-validation-for="DisplayName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <p>Select your Avatar</p>
                <label>
                    <input type="radio" asp-for="Avatar" value="0" checked="checked" />
                    <img class="avatar-icon" src="@Url.Content("~/images/icons/avatar1.png")" alt="" />
                </label>
                <label>
                    <input type="radio" asp-for="Avatar" value="1"/>
                    <img class="avatar-icon" src="@Url.Content("~/images/icons/avatar2.png")" alt="" />
                </label>
                <label>
                    <input type="radio" asp-for="Avatar" value="2"/>
                    <img class="avatar-icon" src="@Url.Content("~/images/icons/avatar3.png")" alt="" />
                </label>
                <label>
                    <input type="radio" asp-for="Avatar" value="3"/>
                    <img class="avatar-icon" src="@Url.Content("~/images/icons/avatar4.png")" alt="" />
                </label>
            </div>
            <input type="submit" class="btn btn-sign-up" value="Register" />
        </form>

        <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-link px-0">Already have an Account?</a>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
